/*
MURPHY M. LOPES
09/08/2023
[style.css]
*/

/* SITE GLOBAL */
* { 
  box-sizing: border-box; 
}
header {
  align-items:center;
  background-color:black;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap:nowrap;
  justify-content: space-between;
}
html {
  height: 100%;
}
main {
  min-height: 100%;
}

/* FRAGMENT GAME */
.fragmentDiv {
  background-color: black;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  height: 550px;
  margin-top: 1%;
}
#fragmentDivBody {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 550px;
}
#fragmentDivHeader {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}
#fragmentGameDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2.5%;
  width: 65%;
}
#fragmentControlsDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 35%;
}
#fragmentGameplayDiv {
  display: flex;
  flex-direction: row;
  width: 100%;
}
#fragmentGameplayInnerDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 33%;
}

/* NAVIGATION */
.navClass {
  flex-direction: column;
  font-size: larger;
}   
.navClass a {
  text-decoration: none;
  transition: 0.3s;
}
.navClass a:hover {
  background-color:white;
  border-radius: 10px;
  box-shadow: 5px 5px 8px black;
  color: black;
  padding: 4px 8px;
} 
.navClass a:link {
  color: white;
}
.navClass a:visited {
  color: white;
}
.navClass a:link:hover {
  color: black;
}
.navClass a:visited:hover {
  color: black;
}
.navClass li {
  background-color: black;
  border-radius: 25px;
  color: black;
  display: inline-block;
  padding: 24px 16px;
}
.navClass ul {
  padding-inline-start: 10px;
}
#navListIdHome {
  background-color: #5600f4;
  box-shadow: 5px 5px 8px white;
}
#navListIdApps {
  background-color: #250096;
  box-shadow: 5px 5px 8px white;
}
#navListIdGames {
  background-color: #72076e;
  box-shadow: 5px 5px 8px white;
}

/* PAGE TITLE */
.pageTitleClass {
  background-color: black;
  border-radius: 25px;
  color: white;
  flex-direction: column;
  margin: 10px;
  text-align: center;
  width: 25%;
  }

  /* OHM CHART */
.ohmChartContainer {
  background-color: black;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1%;
  width: 100%;
}
.ohmChart {
  align-items: center;
  background-color: white;
  border-radius: 25px;
  color: black;
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin: 25px;
  max-width: 600px;
  min-width: 600px;
  max-height: 600px;
  min-height: 600px;
}
.chart {
  border-radius: 250px;
  clip: rect(0px, 250px, 500px, 0px);
  display: flex;
  height: 500px;
  justify-content: center;
  position: absolute;
  transform: rotate(30deg);
  transition: 500ms;
  width: 500px;
  z-index: -1;
}
.chartInner {
  border-radius: 25px;
  clip: rect(0px, 125px, 250px, 0px);
  display: flex;
  height: 250px;
  justify-content: center;
  position: absolute;
  transform: rotate(90deg);
  transition: 500ms;
  width: 250px;
  z-index: -1;
}
.chartOuter {
  border-radius: 300px;
  clip: rect(0px, 300px, 600px, 0px);
  display: flex;
  height: 600px;
  justify-content: center;
  position: absolute;
  transform: rotate(90deg);
  transition: 500ms;
  width: 600px;
  z-index: -1;
}
.hold {
  border-radius: 250px;
  clip: rect(0px, 375px, 250px, 250px);
  height: 500px;
  position: absolute;
  width: 500px;
}
.holdInner {
  border-radius: 125px;
  clip: rect(0px, 250px, 125px, 125px);
  height: 250px;
  position: absolute;
  width: 250px;
}
.holdOuter {
  border-radius: 300px;
  clip: rect(0px, 600px, 300px, 300px);
  height: 600px;
  position: absolute;
  width: 600px;
}
#chartSlice0, #chartSlice1, #chartSlice2,
#chartSlice3, #chartSlice4, #chartSlice5,
#chartSlice6, #chartSlice7, #chartSlice8,
#chartSlice9, #chartSlice10, #chartSlice11 {
  display: flex;
  justify-content: center;
}
#chartSlice0 p, #chartSlice1 p, #chartSlice2 p,
#chartSlice3 p, #chartSlice4 p, #chartSlice5 p,
#chartSlice6 p, #chartSlice7 p, #chartSlice8 p,
#chartSlice9 p, #chartSlice10 p, #chartSlice11 p {
  background-color: black;
  border-radius: 15%;
  color: white;
  display: flex; 
  font-size: 16px; 
  margin-left: 110px;
  margin-top: 45px;
  max-width: 150px;
  position: absolute;
  transform: rotate(calc(var(--sliceAngle) * -1));
  transition: 500ms;
  width: fit-content;
  word-break:normal;
}
#chartSlice0 {
  --sliceAngle: 0deg;
  transform: rotate(var(--sliceAngle));
}
#chartSlice1 {
  --sliceAngle: 30deg;
  transform: rotate(var(--sliceAngle));
}
#chartSlice2 {
  --sliceAngle: 60deg;
  transform: rotate(var(--sliceAngle));
}
#chartSlice3 {
  --sliceAngle: 90deg;
  transform: rotate(var(--sliceAngle));
}
#chartSlice4 {
  --sliceAngle: 120deg;
  transform: rotate(var(--sliceAngle));
}
#chartSlice5 {
  --sliceAngle: 150deg;
  transform: rotate(var(--sliceAngle));
}
#chartSlice6 {
  --sliceAngle: 180deg;
  transform: rotate(var(--sliceAngle));
}
#chartSlice7 {
  --sliceAngle: 210deg;
  transform: rotate(var(--sliceAngle));
}
#chartSlice8 {
  --sliceAngle: 240deg;
  transform: rotate(var(--sliceAngle));
}
#chartSlice9 {
  --sliceAngle: 270deg;
  transform: rotate(var(--sliceAngle));
}
#chartSlice10 {
  --sliceAngle: 300deg;
  transform: rotate(var(--sliceAngle));
}
#chartSlice11 {
  --sliceAngle: 330deg;
  transform: rotate(var(--sliceAngle));
}
#chartSlice0 .chart {
  background-color: #ff9999;
}
#chartSlice1 .chart {
  background-color: #ffb681;
}
#chartSlice2 .chart {
  background-color: #f6da7b;
}
#chartSlice3 .chart {
  background-color: #ccff99;
}
#chartSlice4 .chart {
  background-color: #a7ffc1;
}
#chartSlice5 .chart {
  background-color: #93ffe5;
}
#chartSlice6 .chart {
  background-color: #99ffff;
}
#chartSlice7 .chart {
  background-color: #64e8ff;
}
#chartSlice8 .chart {
  background-color: #84c7ff;
}
#chartSlice9 .chart {
  background-color: #cc99ff;
}
#chartSlice10 .chart {
  background-color: #f390da;
}
#chartSlice11 .chart {
  background-color: #ff90b6;
}
#chartSliceInner0, #chartSliceOuter0, 
#chartSliceInner1, #chartSliceOuter1, 
#chartSliceInner2, #chartSliceOuter2, 
#chartSliceInner3, #chartSliceOuter3 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: rotate(var(--sliceAngle));
}
#chartSliceInner0, #chartSliceOuter0 {
  --sliceAngle: 0deg;
}
#chartSliceInner1, #chartSliceOuter1 {
  --sliceAngle: 90deg;
}
#chartSliceInner2, #chartSliceOuter2 {
  --sliceAngle: 180deg;
}
#chartSliceInner3, #chartSliceOuter3 {
  --sliceAngle: 270deg;
}
#chartSliceInner0 .chartInner, 
#chartSliceOuter0 .chartOuter {
  background-color: #ff6666;
}
#chartSliceInner1 .chartInner, 
#chartSliceOuter1 .chartOuter {
  background-color: #b3ff66;
}
#chartSliceInner2 .chartInner, 
#chartSliceOuter2 .chartOuter {
  background-color: #66ffff;
}
#chartSliceInner3 .chartInner, 
#chartSliceOuter3 .chartOuter {
  background-color: #b366ff;
}
#chartSliceOuter0 p, #chartSliceOuter1 p, 
#chartSliceOuter2 p, #chartSliceOuter3 p {
  background-color: black;
  border-radius: 15%;
  color: white;
  display: flex; 
  font-size: 24px;
  margin-bottom: 66.6%;
  margin-left: 66.6%;
  position:absolute;
}
#chartSliceOuter0 p, #chartSliceOuter3 p {
  transform: rotate(45deg);
}
#chartSliceOuter1 p, #chartSliceOuter2 p {
  transform: rotate(225deg);
}
#chartSliceInner0 p, #chartSliceInner1 p, 
#chartSliceInner2 p, #chartSliceInner3 p {
  background-color: black;
  border-radius: 15%;
  color: white;
  font-size: 36px;
  margin-bottom: 55%;
  margin-left: 40%;
  position:absolute;
}
#chartSliceInner0 p {
  transform: rotate(0deg)
}
#chartSliceInner1 p {
  transform: rotate(270deg);
}
#chartSliceInner2 p {
  transform: rotate(180deg);
}
#chartSliceInner3 p {
  transform: rotate(90deg);
}
#ampBox {
  background-color: black;
  color: white;
  margin-bottom: 49%;
  margin-left: 15%;
  transform: rotate(90deg);
  width: 66px;
}
#ohmBox {
  background-color: black;
  color: white;
  margin-bottom: 49%;
  margin-left: 15%;
  transform: rotate(270deg);
  width: 66px;
}
#voltBox {
  background-color: black;
  color: white;
  margin-bottom: 15%;
  margin-left: 49%;
  width: 66px;
}
#wattBox {
  background-color: black;
  color: white;
  margin-bottom: 15%;
  margin-left: 49%;
  transform: rotate(180deg);
  width: 66px;
}
#calcButton {
  background-image: conic-gradient(#66ffff, #b366ff, #ff6666, #b3ff66);
  border-radius: 50%;
  color: white;
  height: 50px;
  padding: 0px;
  width: 50px;
  z-index: 25;
}